.delete_dialog {
    display: none;
}
.delete_seasoning_dialog {
    padding: 10px;
    width: 90%;
}
.delete_seasoning_form {
    font-size: 20px;
}
.delete_seasoning_message {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}
.form_btn {
    display: flex;
    justify-content: space-evenly;
}
input.delete_cancel_btn {
    font-size: 30px;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    border-radius: 30px;
    width: 200px;
}
input.delete_cancel_btn:hover {
    background-color: #A6A6A6;
    border: solid 1px #FFFFFF;
    border-radius: 30px;
    color: #ffffff;
    cursor : pointer;
}
input.delete_submit_btn {
    background-color: #FF0000;
    border: solid 1px #000000;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 30px;
    width: 200px;
}
input.delete_submit_btn:hover {
    cursor : pointer;
    opacity: .5;
}