.dropdown_list:hover {
  background: #A6A6A6;
}
.dropdown_lists {
  padding: 0;
}
li {
  list-style: none;
  text-align: center;
}
li.nav_item + li.nav_item {
  margin-left: 10px;
}
.link_name {
  color:#FFFFFF;
  padding-bottom: 5px;
}
.nav_item:hover svg {
  background-color: #A6A6A6;
  border-radius: 30px;
}
.nav_link {
  background-color: #00736D;
  display: flex;
  height: 80px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}
ul {
  display: flex;
  margin: 0;
}
.user_link {
  margin: 0 30px 0 auto;
  text-align: center;
}
.user_link summary {
  display: block;
  text-align: center;
}
.user_link:hover svg {
  background-color: #A6A6A6;
  border-radius: 30px;
}
.user_list {
  border: 1px solid #000000;
  position: fixed;
  right: 0px;
}
.user_menu {
  background-color: #FFFFFF;
  color: black;
  display: flex;
  padding: 15px;
}
.user_menu:hover {
  background-color: #A6A6A6;
  color:#FFFFFF
}
.under_lin {
  text-decoration: underline 3px;
  text-underline-offset: 5px;
}