.create_dialog {
    display: none;
}
.create_dialog_error {
    display: block;
}
.create_seasoning_dialog {
    padding: 10px;
    width: 90%;
}
.create_seasoning_form {
    font-size: 20px;
}
.create_seasoning_image {
    width: fit-content;
}
.form_btn {
    display: flex;
    justify-content: space-evenly;
}
.image_area {
    display: flex;
    height: 60px;
    justify-content: center;
}
.image_extension {
    color: #707070;
    display: flex;
    font-size: 14px;
}
input.create_cancel_btn {
    font-size: 30px;
    background-color: #FFFFFF;
    border: solid 1px #000000;
    border-radius: 30px;
    width: 200px;
}
input.create_cancel_btn:hover {
    background-color: #A6A6A6;
    border: solid 1px #FFFFFF;
    border-radius: 30px;
    color: #ffffff;
    cursor : pointer;
}
input.create_seasoning_image {
    display: none;
}
input.create_seasoning_remarks,
input.create_seasoning_inventory,
input.create_seasoning_name {
    border-bottom: 1px solid #000000;
    font-size: 28px;
    width: 100%;
}
input.create_seasoning_remarks_error,
input.create_seasoning_inventory_error,
input.create_seasoning_name_error {
    border-bottom: 1px solid #FF0000;
    font-size: 28px;
    width: 100%;
}
input.create_submit_btn {
    background-color: #00736D;
    border: solid 1px #000000;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 30px;
    width: 200px;
}
input.create_submit_btn:hover {
    cursor : pointer;
    opacity: .7;
}

label[for="create_seasoning_image"] {
    align-items: center;
    color: #707070;
    display: flex;
    width:fit-content;
}
.previewImage {
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    width: 60px;
}
.preview_annotation {
    color: #707070;
    display: flex;
}
.seasoning_inventory_label,
.seasoning_name_label,
.remarks_label {
    align-items: flex-start;
    color: #707070;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.seasoning_inventory_label_error,
.seasoning_name_label_error,
.remarks_label_error {
    align-items: flex-start;
    color: #FF0000;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
textarea.create_seasoning_remarks {
    border: solid 1px #000000;
    font-size: 20px;
    height: 80px;
    resize: none;
    width: 100%;
}
textarea.create_seasoning_remarks_error {
    border: solid 1px #ff0000;
    font-size: 20px;
    height: 80px;
    resize: none;
    width: 100%;
}